@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import './core/colors';
@import './core/rest';
@import './core/classes';
@import './core/typograpghy';
@import './layout/navbar';
@import './layout/footer';
@import './components/product-card';
html, body{
    font-family: "Quicksand", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400 !important;
    font-style: normal;
}


.download__app{
    background-repeat: no-repeat;
    background-size: cover;
    .download__app__left{
        .heading{
            font-size: 3rem;
            color: $black;
            font-weight: 700;
            margin: 0;
            line-height: 1.1;
        }
    }
}

