@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import './core/colors';
@import './core/rest';
@import './core/classes';
@import './core/typograpghy';
@import './layout/navbar';
@import './layout/footer';
@import './components/product-card';
html, body{
    font-family: "Quicksand", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400 !important;
    font-style: normal;
}

.page__header{
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    .page__header__left{
        .page__header__content{
            p.heading{
                color: $black;
                font-size: 3rem;
            }
            p.sub_heading{
                color: $grey-3;
                font-size: 1.2rem;
            }
        }
        .newsletter{
            position: relative;
            height: 40px;
            ._icon{
                position: absolute;
                left: -50px;
                padding-left: 55px;
                font-size: 1.5rem;
                top: 50%;
                transform: translateY(-50%);
                color: $grey-3;

            }
            input{
                padding: 8px  10px;
                min-width: 250px;
                padding-left: 35px;
                height: 100%;
                color: $grey-3;
                border: none;
                &::placeholder{
                    color: $grey-3;
                }
                &:focus{
                    outline: 0;
                }

            }
            button{
                border: none;
                color: $white;
                height: 100%;
                padding: 10px;
            }
        }
    }
}

.download__app{
    background-repeat: no-repeat;
    background-size: cover;
    .download__app__left{
        .heading{
            font-size: 3rem;
            color: $black;
            font-weight: 700;
            margin: 0;
            line-height: 1.1;
        }
    }
}

.feature__main{
    .feature__main__box{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-position: cover;
         height: 320px;
        flex: 1;
        ._left{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
                padding: 40px 20px;
                align-items: flex-start;
            .heading{
                font-size: 2rem;
                color: $black;
                font-weight: 600;
            }
            .sub__heading{
                font-size: 1.1rem;
                color: $grey-3;
            }
            .__link{
                background-color: #3BB77E;
                color: $white !important;
                padding: 10px;
                font-weight: 500;
            }
        }
        ._right{
            display: flex;
            height: 100%;
            align-items: flex-end;
        }
        &._first{
            background-color: #f6e1b8 ;
            ._left{
                ._tag{
                    background-color: #FFD480;
                    display: flex;
                    text-align: left;
                    flex: 0;
                    color: $white;
                    padding: 8px;
                    font-size: .9rem;

                }
            }
        }
        &._second{
            background-color: #D2EFE1 ;

            ._left{
                ._tag{
                    background-color: #3BB77E;
                    display: flex;
                    text-align: left;
                    flex: 0;
                    color: $white;
                    padding: 8px;
                    font-size: .9rem;


                }
            }
        }
    }
}