.bg_black{
    background-color: $black;
}
.bg_primary{
    background-color: $primary;
}
.bg_white{
    background-color: $white;
}

.bg_grey-1{
    background-color: $grey-1;
}

.c_wh{
    color: $white;
}
.c_primary{
    color: $primary;
}