@import '../core/colors';

select.custom__select{
  flex: 1;
  border: none;
  box-shadow: none !important;
  background-color: $grey-2;
  background-image: none;
  cursor: pointer;
  option{
    cursor: pointer !important;
    top: 0;
    padding: 5px;
    border: 1px solid $grey-2;
    padding: 15px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }
  &:focus{
    outline: 0;
  }
}