@import '../core/colors';
.product__column{
    .cloumn__heading{
        color: $black;
        font-size: 1.2rem;
        font-weight: 700;
    }
    .product__item{
        .product__img{
            width: 100px;
            height: 100px;
            background-color: $grey-2;
        }
        ._name{
            margin: 0;
            font-weight: 700;
            color: $black;
            font-size: 1.1rem;
        }
        ._price{
            margin: 0;
            font-weight: 700;
            font-size: 1.2rem;
            color: $primary;
        }
        ._rating{
            margin: 0;

        }
    }
}