@import '../core/colors';
.search__filed{
    .search__tags{
        border-right: 1px solid $grey-1;
    }
    .search__filed__input__box{
    }
    .navbar__search{
        input{
            border: none;
            background: none;
        }
    }
    .search__icon{
        width: 50px;
        height: 50px;
    }
}