@import '../core/colors';
.search__filed{
    
    .search__tags{
        border-right: 1px solid $grey-1;
        .select__items{
            border: none;
            background: none;
            padding-left: 5px;
            color: $black;
            font-weight: 700;
            option: {
            }
            &:focus{
                outline: 0;
            }
        }
    }
    .search__filed__input__box{
    }
    .navbar__search{
        input{
            border: none;
            background: none;
            &:focus{
                outline: 0;
            }
        }
    }
    .search__icon{
        width: 50px;
        height: 50px;
    }
}